In [1]:
import pandas as pd
import numpy as np
import chardet
from sqlalchemy import create_engine

In [2]:
#Detect character encoding of the file if you are getting errors while reading data from it
#use the method below -- pre-requisite: pip install chardet

with open('ba_reviews.csv', 'rb') as file:
    data = file.read(100000)
    result = chardet.detect(data)
    encoding = result['encoding']
    print(f"Detected encoding: {encoding}")

Detected encoding: utf-8

In [3]:
with open('Countries.csv', 'rb') as file:
    data = file.read(100000)
    result = chardet.detect(data)
    encoding = result['encoding']
    print(f"Detected encoding: {encoding}")

Detected encoding: UTF-8-SIG

In [4]:
reviews_df = pd.read_csv('ba_reviews.csv', encoding='utf-8')
countries_df = pd.read_csv('ba_reviews.csv', encoding='UTF-8-SIG')

In [13]:
#There is just one null value so dropping it won't be any problem

countries_df.dropna(subset=['traveller_type'], inplace=True)

In [14]:
#There is just one null value so dropping it won't be any problem

reviews_df.dropna(subset=['traveller_type'], inplace=True)

In [12]:
reviews_df.isnull().sum()

header                 0
author                 0
date                   0
place                  0
content                0
aircraft               0
traveller_type         0
seat_type              0
route                  0
date_flown             0
recommended            0
trip_verified          0
rating                 0
seat_comfort           0
cabin_staff_service    0
food_beverages         0
ground_service         0
value_for_money        0
entertainment          0
dtype: int64

In [11]:
countries_df.isnull().sum()

header                 0
author                 0
date                   0
place                  0
content                0
aircraft               0
traveller_type         0
seat_type              0
route                  0
date_flown             0
recommended            0
trip_verified          0
rating                 0
seat_comfort           0
cabin_staff_service    0
food_beverages         0
ground_service         0
value_for_money        0
entertainment          0
dtype: int64

In [ ]:
#To import data use the following method
#Here I am using a MySQL data base

### Database credentials
# username = 'your_username'
# password = 'your_password'
# host = 'your_host'
# port = 'your_port'  # Default MySQL port is 3306
# database = 'your_database'

### Create SQLAlchemy engine
# engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

### Load DataFrame to MySQL
# df.to_sql(name='your_table_name', con=engine, if_exists='replace', index=False)